a,h1,h2,h3,h4,h5{
  font-family: 'Lato', sans-serif;
}
h1{
  font-size: 250%;
}
a{
  font-size: 18px;
}
a:hover{
  color: black;
}

#agencies{
  background-color: #F8F8FF;
  min-height: 100px;
}


#button{
  position: relative;
  left: 280px;
  color: #4682B4;
}
#button:hover{
  background-color: #4682B4;
  color: white;
}
#complaint{
  position: relative;
  left: 310px;
}
#floating-panel {
  position: absolute;
  z-index: 5; 
  background-color: #fff;
  padding: 5px;
  border: 2px solid #999;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  min-height: 100%;
  min-width: 35%;

}
#input{
  margin-bottom: 1%;
  width: 100%;
  font-size:200%;
}
#left{
  margin-left: 200px;
}
#logo{
  margin-left: 5%;
  margin-top: 3%;
  font-size: 320%;
  margin-bottom:2%;
  color:#4682B4
}
#logo:hover{
  color:#4682B4;
  text-decoration: underline;
}
#map {
  margin: 4px;
  min-height:800px;
  padding: 0;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
#pac-input:focus {
  border-color: #4d90fe;
}
#sub_logo{
  font-size: 100%;
}

.agent{
  border-right-style: solid;
  border-right-color: #4682B4;
  border-right-width: 1px;
}

.blue{
  color: #4682B4;
}

.blue_background{
  background-color:#4682B4;
  min-height:30em;
}

.content{
  margin: 0px;
  padding: 0px;
}

.display{
  display: block !important;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4682B4;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom:1%;
    width: 100%;
}

/* The container <div> - needed to position the dropdown content */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    margin-bottom: 1%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}


/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding-top:4%;
    width: 100%;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.header{
  border-bottom-style: solid;
  border-bottom-color: #4682B4;
  border-bottom-width: 2px;
  background-color: #F8F8FF;
}

.logo{
  margin-top: 7%;
  padding-top: 1em;
  font-size: 4em;
  font-weight: bold;
}
.pic{
  height:65em;
}
.pic:before {
  content: '';
    position:absolute;
    top:0;
    left:0;
    margin:0px;

  background-image: url(http://carriegallagher.com/wp-content/uploads/2014/05/sumall_lower_manhattan_wtc_one_nyc_new_york.png);
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150%;
  width: 100%;
  opacity:.5;
  z-index: -5;
}

.map_header{
  margin-top:10%;
  padding-top: 1em;
  font-weight: bold;
  font-size: 220%;
  margin-bottom: 13%;
}
.nav{
  padding-top: 2%;
  padding-right:1%;
}
.nav_link{
  font-size: 28px;
}
.navbar-toggle{
  margin-top: 4%;
}
.navbar-toggle:hover{
  display: block;
}

.pac-container {
  font-family: 'Roboto';
}

.set_height{
  margin-top: 100px;
  min-height: 300px;
}
.sub_header{
  margin-top:5%;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.sub_logo{
  margin-top: 4em;
  border-style: solid;
  border-width: 10px;
  border-color: #4682B4;
  font-weight: bolder;
  font-size: 3em;
  color: black;
  border-left:4em;
  border-right:4em;
  letter-spacing: 2px;
}
.white{
  color: white;
}
.white_background{
  min-height: 65em;
}




