body{
	background-color: black;
}

.parallax { 
    /* The image used */
    background-image: url("http://data.whicdn.com/images/22137606/original.jpg");

    /* Set a specific height */
    height: 600px;
   

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
	color: white;
	font-size: 600%;
}
h4{
	color: white;
}
.navbar-default {
    background-color: orange;
    border-color: white;
}

.white{
	color: white;
}
#link{
color: white;
}

.top{
	margin-top: 50px;
}

.textBox{
	text-align: center;
	margin-top: 200px;
	padding-top: 200px;
	padding-bottom:200px;
	border-color: orange;
	border-style: solid;
	width: 100%;
	border-width: 6px;
}

