body{
	background-color: black;
}
h1{
	color: white;
	font-size: 600%;
}
h4{
	color: white;
}
.navbar-default {
    background-color: grey;
}
.white{
	color: white;
}

.navbar-default .navbar-brand {
    color: yellow;
}