a,h1,h2,h3,h4,h5{
	font-family: 'Roboto', sans-serif;
}

a:hover{
 color:#4682B4 ;
}


#main_header{
	margin-top:100px; 
	margin-left:50px;
}
#under_header{
	margin-left:100px;
}
#space{
	margin-left: 50%;
}
#get_started{
	margin-top: 200px;
	color: white;
	font-size:40px;
	border-style: solid;
	margin-left:30px;
	margin-right:30px;
	border-width: 3px
	border-color: white;	
}
.opacity{
	background-color: rgba(0, 0, 0, 1);
	mix-blend-mode: difference;
}
.white_shadow{

}
.header{
	font-size:40px;
	margin-top: 100px;
	margin-left: 40px;
}
.main{
	color: white;
	font-size:85px;
}
.white{
	color: white;
}

.blue{
	background-color: #4682B4;
}
.blue_font{
	color: #4682B4;
}
.page{
	min-height: 650px; 
}
.nav_link:hover{
	color:red;
}

.parallax { 
    /* The image used */
    /* Set a specific height */
    height: 750px;
    /* Create the parallax scrolling effect */

}
.parallax:before{
	content: '';
	position: absolute;
	height:150%;
	width:100%;
	top:0;
	left:0;
	margin:0px;

	background-image: url(http://wallpapercave.com/wp/PV78PWB.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(65%);
	z-index: -1;
}


.nav_link{
 padding-top: 15px;
}

.logo{
	margin-left: 10px;
	padding-top: 10px;
}





