

.parallax { 
    /* The image used */
    background-image: url("http://wallpapercave.com/wp/PV78PWB.jpg");

    /* Set a specific height */
    height: 750px;
   

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover{
 color:#4682B4 ;
}

#main_header{
	margin-top:60px; 
	margin-left:50px;
}
#under_header{
	margin-left:100px;
}
#space{
	margin-left: 50%;
}
#get_started{
	margin-top: 200px;
	color: white;
	font-size:40px;
	border-style: solid;
	margin-left:30px;
	margin-right:30px;
	border-width: 3px
	border-color: white;	
}

.blue_font{
	color: #4682B4;
}
.header{
	font-size:40px;
	margin-top: 100px;
	margin-left: 40px;
}
.main{
	color: white;
	font-size:85px;
}
.white{
	color: white;
}

.blue{
	background-color: #4682B4;
	
}
.page{
	min-height: 650px; 
}


