<!DocType HTML>
<!DOCTYPE html>
<html>
<head>
	<title>Data Viz</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<link rel = "stylesheet" href = "../static/css/styles.css">
</head>

<body>
<div class = "container-fluid parallax">
	<h1 class = "main" id = "main_header">Viewing New York</h1>
	<h1 class = "main" id = "under_header">At A different Angle</h1>

	<center id = "get_started"> <a class = "white" href = "/map">Get Started </a> </center>
	
</div>
<div class = "container" id = "info"> 



</div>

</body>
<script src = "../static/js/home.js"> </script>

</html>