<!DocType HTML>
<!DOCTYPE html>
<html>
<head>
	<title>Data Viz</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<link rel = "stylesheet" href = "../static/css/styles.css">
</head>

<body>
<div class = "container-fluid parallax">
	<h1 class = "main" id = "main_header">Viewing New York</h1>
	<h1 class = "main" id = "under_header">At A different Angle</h1>

	<center id = "get_started"> <a class = "white" href = "/map">Get Started </a> </center>
	
</div>
<div class = "container-fluid blue page" id = "info"> 

	<h1 class = "white header" > What is Data Visualization</h1>
	<br> <br>

	<center > <iframe width="560" height="315" src="https://www.youtube.com/embed/xekEXM0Vonc" frameborder="0" allowfullscreen></iframe></center>


</div>

<div class = "container-fluid white page"> 
	<h1 class = "blue_font header">What We Do</h1>
</div>

</body>
<script src = "../static/js/home.js"> </script>
</html>