<!DocType HTML>
<!DOCTYPE html>
<html>
<head>
	<title>Data Viz</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<link rel = "stylesheet" href = "../static/css/styles.css">
</head>

<body>
<div class = "container" id = "parallax">
		<nav class = "navbar navbar-default navbar-toggleable-md navbar-fixed-top" id = "Home navbar-fulllength"> 
		    <div class = "container-fluid"> 
		      <div class = "navbar-header">


		    	<a class = "logo" href = "#Home">
		    		<h1> Data Viz</h1>
		      	</a>

		      	<button type = "button" class = "navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
		      	  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span> 
                  <span class="icon-bar"></span>
		      	</button>

		      </div>

		        <div class = "collapse navbar-collapse" id = "myNavBar">
		      	 <ul class ="nav navbar-nav navbar-right">
		      		
		      	   
		      	   <li><a class = "nav white top" href = "#About"> <h4> About Us </h4> </a></li>
		      	   <li><a class = "nav white top" href = "#Coursework"> <h4> Our Data </h4></a></li>
		      	   <li ><a class = "nav white top" href = "#Skills"> <h4> How To Use </h4></a></li>
		      	   <li><a class = "nav white top" href = "#Projects"> <h4> More </h4></a></li>
		  
		      	</ul>
		      </div>


		      </div>
		    </div>
		  </nav> 

		  <div class = "container textBox"> 
		  <h1>
			  <a id = "link" href="/map" class="typewrite" data-period="2000" data-type='[ "You Have Questions.", "We Have Data.", "Data Viz.", "Click Here To Find Out More" ]'>
			    <span class="wrap"></span>
			  </a>
		  </h1>

		  </div>

	
</div>
</body>
<script src = "../static/js/home.js"> </script>

</html>