<!-- Doctype HTML5 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Instruct Internet Explorer to use its latest rendering engine -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Viewport for responsive web design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>City Snapshot</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="../static/js/map.js"></script>
    <script type="text/javascript" src="/maps_api"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
  </head>
  <body>
      <div id="floating-panel">
          <h1>
              Welcome to City Snapshot
          </h1>
          <button id ="Toggle" onclick = "toggleHeatmap();">Toggle Heatmap</button>
          <button onclick="changeGradient()">Change gradient</button>
          <button onclick="changeRadius()">Change radius</button>
          <button onclick="changeOpacity()">Change opacity</button>
          <input id="pac-input" class="controls" type="text" placeholder="Search Box">

      </div>
      <div id="map"></div>

  </body>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9ElfPyeJ6ads4hslJ5eDQMrJaHx1tAp0&libraries=visualization">
</script>
</html>
