<!-- Doctype HTML5 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Instruct Internet Explorer to use its latest rendering engine -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Viewport for responsive web design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Viz</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">

    <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
  </head>
  <body>

      <div class = "container-fluid header" id = "nav">
      <nav class = "navbar navbar-default navbar-toggleable-md navbar-fixed-top" id = "Home  navbar-fulllength"> 
      <div class = "container-fluid"> 
      <div class = "navbar-header">
          <a href = "/index">
            <h1 class = "logo blue"> Data Viz</h1>
          </a>
        </div>

        <div class = "collapse navbar-collapse" id = "myNavBar">
          <ul class ="nav navbar-nav navbar-right">
              <li><a class = "nav" href = "/map"> <h4 class = "nav_link"> Our Data </h4></a></li>
                <li><a class = "nav" href = "#Info"> <h4 class = "nav_link"> Data Visualization </h4> </a></li>
                <li> <a class = "nav" href = "#About"> <h4 class = "nav_link"> About Us </h4> </a></li>
            </ul>
        </div>


      </div>
      </nav>
      </div> 
 
      <br> <br>
      <center> <h1 class = "blue"> NYC 311 Data</h1> </center>
      <center > <h3 > Data take from the last three weeks of 311 data logs </h3> </center>
      <br>

      <div class = "container-fluid" id = "agencies"> 
         <h2> 
          <span class = "col-6"> Filter By Department </span>
          <span id = "left"> Filter By Complaint </span>
         </h2> 

         <!--Drop Down Menu-->

        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">All Departments</button>
            <div class="dropdown-content">
              <a id = "all" onclick = "allData()" href= "#">All Departments</a>
              <a id = "NYPD" onclick = "NYPDFunction()" href= "#">Police Department</a>
              <a id = "FDNY" onclick = "FDNYFunction()" href= "#">Fire Department</a>
              <a id = "DOHMH" onclick = "DOHMHFunction()" href= "#">Department of Health and Mental Hygiene</a>
              <a id = "DEP" onclick = "DEPFunction()" href= "#">Department of Environmental Protection</a>
            </div>
        </div>

         <input class = "col-4" id = "complaint" type="text" name="search" placeholder="Search..">
         <button id = "button" onclick = "complaintType()">Go</button>
      </div>
      <div id = "map">
          
      </div>

      <div class = "container-fluid set_height" id = "agencies"> 
     
      </div>

  </body>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9ElfPyeJ6ads4hslJ5eDQMrJaHx1tAp0&libraries=visualization,places"></script>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

</html>
